* {
    font-family: Electrolize;
}

#container {
    display: flex;
    justify-content: space-evenly;
}

#canvas {
    aspect-ratio: 1/1;
    width: 40%;
    border: 2px solid;
}

#table-view {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

table {
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 0.5rem;
    border: 2px solid;
}

form {
    width: 40%;
    line-height: 1.5rem;
}

h1 {
    text-align: center;
}