/* CSS variables for colors*/
:root {
    --main-bg-color: rgb(20,21,38);
    --main-text-color: white;
    --main-font: Electrolize;
    --border-color: rgb(145,147,168);
    --button-colors: rgb(30, 166, 228);
    --hovered-button-colors: rgb(40, 216, 255);
    --disabled-button-colors: rgb(12, 70, 97);
}

* {
    border-radius: 0.5rem;
    font-family: var(--main-font);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

#container {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

#canvas {
    width: 45vw;
    height: 45vw;
    border: 2px solid var(--border-color);
}

#table-view {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

table {
    border: 2px solid var(--border-color);
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 0.5rem;
    border: 2px solid var(--border-color);
}

form {
    width: 45%;
}

fieldset {
    border: 2px solid var(--border-color);
}

input, button {
    padding: 0.25rem;
    margin: 0.5rem 0.5rem 0rem 0rem;
    background-color: transparent;
}

input {
    border: 2px solid;
    border-color: var(--border-color);
    color: var(--border-color);
}

button {
    border: 2px solid var(--button-colors);
    color: var(--button-colors);
}

button:hover {
    border-color: var(--hovered-button-colors);
    color: var(--hovered-button-colors);
}

button:disabled {
    border-color: var(--disabled-button-colors);
    color: var(--disabled-button-colors);
}

h1 {
    text-align: center;
}